[Unit]
Description=client.draggie.games server service
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=draggie
ExecStart=/home/draggie/DraggieGamesServer/run_script.sh
WorkingDirectory=/home/draggie/DraggieGamesServer

[Install]
WantedBy=multi-user.target
